main { /* Aliging the main card to the center of the screen */
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    border-style: solid;
    border-bottom-color: white;
    border-right-color: white; 
    border-top-color: #755e94;
    border-left-color: #755e94; 
}

h1 { /* Formatting header */
    font-size: 150%;
    font-weight: bolder;  
}

p { /* formatting text */
    font-size: 80%;
    margin: 2%
}

.btn { /* Formatting buttons */
    background-color: #755e94;
    margin: 0.5%;
    border-radius: 5%;
    color: white;
    padding: 0.5% 2.5%;
    font-size: 16px;
}

.result { 
    font-style: italic;
    font-weight: lighter;
    font-size: medium;
    color: grey;
}

.scoreboard {
    text-transform: capitalize;
    margin-bottom: 5%;
}

li {
    list-style-type:none;
};
